@font-face {
  font-family: "Qanelas Light";
  src: url("../fonts/Qanelas-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Qanelas Regular";
  src: url("../fonts/Qanelas-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Qanelas Medium";
  src: url("../fonts/Qanelas-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Qanelas SemiBold";
  src: url("../fonts/Qanelas-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Qanelas Bold";
  src: url("../fonts/Qanelas-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
