// font size

$primary-fz: 30px;

$title-fz: 24px;

$sub-title-fz: 20px;

$standart-fz: 16px;

$small-fz: 14px;

// colors

$primary-color: #242220;

$primary-transparent-color: #242220D9;

$grey-color: #2422200D;

$grey-light-color: #24222033;

$contrast-color: #FFFFFF;

$blue-color: #1890FF;

$blue-light-color: #40A9FF;

$blue-color-hover: #E0EFFE;

$background-color: #F8F8F8;

$disabled-color: #2422204D;

// font-family

$font-family-Inter: "Inter", sans-serif;

$font-family-Montserrat: "Montserrat", sans-serif;