// font size

$primary-fz: 30px;

$title-fz: 24px;

$sub-title-fz: 20px;

$standart-fz: 16px;

$small-fz: 14px;

// colors

$primary-color: #242220;

$primary-transparent-color: #242220D9;

$contrast-color: #FFFFFF;

// font-family

$font-family-Inter: "Inter", sans-serif;